.carrossel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 120px;
    max-width: 100%;

    margin: 100px 0;

    gap: 50px;
}

.imagem img {
    width: 1.875rem;
    height: auto;

    padding-bottom: 1.563rem;
}

.container, .carrossel {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: auto;
    scroll-behavior: smooth;
}

.container, .carrossel, .item {
    width: 1200px;
    flex: none;
}

.info, .pessoa {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;
}

.info h1 {
    font-size: 1.25rem;
    font-weight: 700;

    padding-bottom: 0.5rem;
}

.info p {
    font-size: 1.125rem;
    font-weight: 400;

    padding-bottom: 0.5rem;
}

.pessoa h1 {
    font-size: 0.875rem;
    font-weight: 700;
}

.pessoa p {
    font-size: 0.875rem;
    font-weight: 400;
}