.carrossel {
    display: flex;
    justify-content: center;

    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    max-width: 600px;
    width: 100%;

    background: white;

    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 1.5rem;

    flex: none;
  }
  
  .imagem img {
    width: 40px;
    height: auto;
    margin: 0 auto;
  }
  
  .info h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 0.5rem;
  }
  
  .info p {
    font-size: 1.3rem;
    color: var(--black);
    line-height: 1.5;
  }
  
  .pessoa h1 {
    font-size: 0.938rem;
    font-weight: 700;
    color: var(--black);
  }
  
  .pessoa p {
    font-size: 0.938rem;
    color: var(--black);
  }
  