.carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
    width: 100%;

    overflow-x: auto;
    scroll-behavior: smooth;

    gap: 190px;
}

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin: 150px 0;
}

.imagem img {
    width: 1.875rem;
    height: auto;

    padding-bottom: 1.563rem;
}

.container, .carrossel, .item {
    flex: none;
}

.item {
    width: 500px;
    min-height: 300px;
}

.info, .pessoa {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;
}

.info h1 {
    font-size: 1.25rem;
    font-weight: 700;

    padding-bottom: 0.5rem;
}

.info p {
    font-size: 1.125rem;
    font-weight: 400;

    padding-bottom: 0.5rem;
}

.pessoa h1 {
    font-size: 0.875rem;
    font-weight: 700;
}

.pessoa p {
    font-size: 0.875rem;
    font-weight: 400;
}