.empresasContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.empresasTitulo {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--black);
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 50rem;
    padding: 0 1rem;
}

.empresasTitulo span {
    font-weight: 700;
    color: var(--blue-900);
}

.empresaTexto {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    color: #595959;
    max-width: 40rem;
}

.empresasSlider {
    background-color: var(--background-blue);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 1rem 0;
}

.empresasTrack {
    display: flex;
    width: max-content;
    animation: scrollLogos 30s linear infinite;
    align-items: center;
    gap: 2rem;
    /* espaçamento entre logos para melhor visual */
}

/* Animação de scroll */
@keyframes scrollLogos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* RESPONSIVO - telas menores que 768px */
@media (max-width: 768px) {
    .empresasTitulo {
        font-size: 1.8rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
        max-width: 90vw;
    }

    .empresaTexto {
        font-size: 1.1rem;
        max-width: 90vw;
    }

    .empresasTrack {
        gap: 1rem;
        animation-duration: 20s;
        /* um pouco mais rápido no mobile */
    }
}