.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4rem;
    z-index: 5;
    padding: 0 1rem;
    /* margem lateral em telas pequenas */
}

.container {
    background: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 6rem;
    padding: 2.5rem 3rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    min-width: 9.375rem;
    /* 150px */
}

.card h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--blue-900);
}

.card p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--dark-800);
    margin-top: 0.5rem;
    width: 21.875rem;
    /* 350px */
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1.5rem;
    }

    .card {
        width: 100%;
    }

    .card p {
        width: 100%;
        max-width: 18.75rem;
    }

    .card h3 {
        font-size: 2rem;
    }
}